<h1>Workshop Todo List</h1>
    
    
        <ul>
         <% @my_todo_list.each do |todo| %>
         <li>   
        <a href="/todo/show/<%= todo.id%>">  <%= todo.description %></a>
            <span class="pomodoro-estimate"> <%= todo.pomodoro_estimate %> pomodoro </span>
         </li>    
         <% end %>
        </ul>
        <a href="/todo/new"> Add To-Do</a>
        
        